body {
  margin: 0;

  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: "Lato", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.iconPassword {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: "#FAFAFA";
  /* background-color: white; */
}

html {
  /* overflow: hidden; */
  background-color: "#FAFAFA";
  color: #111;
}
html.dark {
  /* background-color: #121212; */
  background-color: #111;
  color: #bbb;
}
.interactButton,
.btnDots,
.none-focus {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.zoom-enter {
  opacity: 0;
  transform: scale(0);
}
.zoom-enter-active {
  opacity: 1;
  transform: scale(1);
}
.zoom-exit {
  opacity: 1;
  transform: scale(1);
}
.zoom-exit-active {
  opacity: 0;
  transform: scale(0);
}

.animateModal {
  animation: quickScaleDown 0.1s forwards;
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.secondaryAnimate {
  animation: topToMiddle 0.1s ease-in forwards;
}

@keyframes topToMiddle {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.sideBar {
  /* box-shadow: 6px 0px 1px #ccc; */
  box-shadow: rgba(0, 0, 0, 0.2) 4px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 4px 0px 3px 0px,
    rgba(255, 255, 255, 0.05) 4px 0px 0px 0px inset;
}
.animation-global-icon {
  transition: all;
  display: block;
  animation: hideIcon 0.2s linear;
}
@keyframes hideIcon {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animation-icon {
  animation: scaleIcon 0.2 linear;
  transition: all;
}

@keyframes scaleIcon {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
.animation-home-logo {
  transition: all;
  display: block;
  animation: hideLogo 1s linear;
}
@keyframes hideLogo {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}
.bg-blurImg {
  -webkit-filter: blur(8px);
}
.RCP {
  width: 150px;
  height: 150px;
  color: blue;
  display: flex;
  align-items: center;
  position: relative;
}
.RCP svg {
  width: 150px;
  height: 150px;
}
.indicator {
}
.RCP__track {
  background-color: yellow;
}
.Toastify {
  position: absolute;
  z-index: 999999;
}
.shadowModal {
  box-shadow: 4px 0 24px rgba(0, 0, 0, 0.15);
}

.commentBlock::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.commentBlock {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.truncate-class {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.shortDesc {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.entry-content .ql-formats {
  font-size: 10px;
}
.entry-content .ql-formats .ql-link,
.entry-content .ql-toolbar.ql-snow,
.entry-content .ql-formats .ql-image {
  display: none;
}
.entry-content .ql-container.ql-snow {
  border: none;
}
.entry-content,
.entry-content .ql-snow .ql-editor {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  h2,
  h3,
  h4 {
    font-weight: bold;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    line-height: 2;
  }
  figure {
  }
  figure img {
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style: decimal;
  }
  ul,
  ol {
    padding-left: 40px;
    margin-left: 0;
    li {
    }
  }
  img {
    border-radius: 8px;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 17px;
  color: #ccc;
}
.container {
  width: 100%;
  max-width: 900px;
}
.wrapUser {
  grid-template-columns: unset;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-top: always;
  scroll-padding: 12px;
  padding: 12px;
  margin-left: -12px;
}
.itemUser {
  scroll-snap-align: start;
}
.wrapUser {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapUser::-webkit-scrollbar {
  display: none;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  max-width: 400px;
}
.pagination li {
  border: 1px solid #ccc;
  border-radius: 100%;
  padding: 2px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all;
}
.pagination li:hover {
  background-color: #ccc;
}
/* .tableClass tr {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10p;
  justify-content: space-between;
  padding: 3px;
  border: 1px solid #ccc;
}
.tableClass thead,
.tableClass tbody {
  padding: 10px;
} */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
table tr {
  border: 1px solid #ddd;
  height: !important 30px;
}

tr:nth-child(even) {
  background-color: red;
}
/*dark50 #121212 
 modal #262626
  dark:border-[#363636]
*/
.header-app {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.sideBard {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.friendOnlineBar::-webkit-scrollbar {
  display: visible;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* .friendOnlineBar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.showFriend::-webkit-scrollbar {
  display: block;
} */

/* scrollbar style */

#style-14::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
#style-14::-webkit-scrollbar-track.dark {
  -webkit-box-shadow: inset 0 0 6px rgba(244, 240, 240, 0.3);
  background-color: #f5f5f5;
}
#style-14::-webkit-scrollbar.dark {
  width: 10px;
  height: 5px;
  background-color: #171515;
}
#style-14::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #f9f5f5;
}

#style-14::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid rgb(233, 225, 225);
}
#style-14::-webkit-scrollbar-thumb.dark {
  background-color: #000;
  border: 1px solid #000;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar::-webkit-scrollbar {
  display: hidden;
}
.imagePost .lazy-load-image-background {
  display: inline-block;
  width: 100%;
}
.lazy-load-image-background {
  margin: auto;
}
.skeleton {
  /* background: #f0f0f0;
  background-image: linear-gradient(
    to right,
    #f0f0f0 0%,
    #d8d8d8 20%,
    #f0f0f0 40%,
    #f0f0f0 100%
  ); */

  /* dark */
  background: #50535a;
  background-image: linear-gradient(
    to right,
    #50535a 0%,
    #656871 20%,
    #50535a 40%,
    #50535a 100%
  );

  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.skeleton_dark {
  background: #f0f0f0;
  background-image: linear-gradient(
    to right,
    #f0f0f0 0%,
    #d8d8d8 20%,
    #f0f0f0 40%,
    #f0f0f0 100%
  );

  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.message-text .lazy-load-image-background {
  width: 50px;
  margin: 0px;
}
.lazy-load-image-background {
  margin: auto 0;
}
